@import "./utils/vars";
@import "./utils/reset";
@import "./utils/visually-hidden";
@import "./utils/comon";
@import "./utils/container";
@import "./components/social";
@import "./components/logo";
@import "./components/heder";
@import "./components/hero";
@import "./components/strengths";
@import "./components/we-doings";
@import "./components/team";
@import "./components/clients";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/modal";
