.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  // display: flex;
  // &:last-child {
  //   margin-right: 0;
  // }
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-bottom: -30px;
    }
  }
}

.clients-list__item {
  // width: 170px;
  width: 100%;
  height: 92px;
  // margin-right: 30px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.clients-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
