.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.container-addres {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
  }
}

.footer-contacts {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-logo {
  a {
    color: var(--accent-color);
  }
  span {
    color: #ffffff;
  }
}

.footer-addres__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-addres__list {
  margin-top: 20px;
}

.footer-addres__mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-addres__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-join {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-join__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-socials__link {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-subscribe {
  @media screen and (min-width: 1200px) {
    // margin-left: 93px;
    margin-left: auto;
  }
}

.footer-subscribe__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe-form {
  align-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe-form__input {
  height: 50px;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
  }
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-form__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe-form__icon-send {
  margin-left: 10px;
}

.footer-socials__icon {
  fill: #ffffff;
}
