.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg/hero-bg-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  border: 1px solid #ececec;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg/hero-bg-mob2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg/hero-bg-tab1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg/hero-bg-tab2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg/hero-bg1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg/hero-bg2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
