.strengths {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.strengths-list {
  &:last-child {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.strengths-list__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.strengths-list__svg {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 30px;
}

.strengths-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
  margin-bottom: 10px;
  margin-top: 30px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.strengths-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
