p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #212121;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}
